@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;500&family=Cantarell&display=swap');

/*! --------------------------------------------------------------!
   |                                                              |
   |                 common compoennt styles                      |
   |                                                              |
   !--------------------------------------------------------------!  */
a {
    text-decoration: none !important;
    text-decoration: none !important;
    /* overflow-x: hidden; */
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
}

button:focus,
input:focus {
    border: none;
    outline: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}

/*! --------------------------------------------------------------!
   |                                                              |
   |              classes related to the header only              |
   |                                                              |
   !--------------------------------------------------------------!  */

.header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    color: #ff0000 !important;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.hamburger,
.navItemIcons {
    display: none;
}

.iconRow {
    width: 170px;
    display: flex;
    align-items: center;
}

.iconRow img {
    width: 100%;
}

.headerItems {
    transition: 500ms;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    z-index: 99;
}

.headerItems ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.headerItems ul li {
    text-decoration: none !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.activeComponent {
    color: #a0178a;
    transition: 200ms;
    position: relative;
    /* font-weight: 700; */
    /* font-size: 16.5px; */
}

.activeComponent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 19px;
    height: 9px;
    width: 60%;
    border-top: 3px solid #a0178a;
}

.inActiveComponent {
    color: black;
}

.chatButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatButton button,
.hamburger button {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 16px;
    padding: 0.4rem 0.7rem;
    border: 1px solid black;
    border-radius: 8px;
    border: 2px solid #030f46;
    background-color: transparent;
    align-items: center;
}

.chatButton button {
    width: 130px;
}

@media only screen and (max-width: 1100px) {
    .headerItems ul {
        width: 70%;
    }
}

@media only screen and (max-width: 850px) {
    .headerItems {
        position: absolute;
        flex-direction: column;
        align-items: end;
        height: 50vh;
        justify-content: center;
        width: 91%;
        flex-direction: column;
        margin-top: 5rem;
    }

    .navItemIcons {
        display: inline;
    }

    .headerItems ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .headerItems ul li {
        margin: 0.5rem;
        padding: 1rem;
        width: 50%;
        border-radius: 25px;
        background: radial-gradient(100% 104.57% at 23.13% 47.05%,
                #ffffff 0%,
                #f6f8fc 52.95%);
        align-items: center;
    }

    .headerItems ul :nth-child(2),
    .headerItems ul :nth-child(5) {
        width: 70%;
    }

    .headerItems ul :nth-child(3),
    .headerItems ul :nth-child(4) {
        width: 90%;
    }

    .chatButton {
        width: 74%;
        margin-top: 1rem;
        justify-content: center;
    }

    .chatButton button {
        width: 75%;
        justify-content: center;
        gap: 0.5rem;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 850px) {
    .headerItems {
        margin-top: 8rem;
    }
}

.blockDisplay {
    display: none !important;
}

/*! --------------------------------------------------------------!
   |                                                              |
   |              classes related to the home component           |
   |                                                              |
   !--------------------------------------------------------------!  */
.intro {
    padding: 12rem 0rem;
    background-color: #f6f8fc;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Quicksand";
}

.introText {
    z-index: 2;
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
}

.introText h2 {
    line-height: 5rem;
    font-size: 60px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.introText p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #222222;
}

.introImage {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.introImage :first-child {
    width: 450px;
    height: 450px;
}

.introImage :nth-child(2) {
    position: absolute;
    bottom: 4rem;
    left: 20%;
}

.inputGroup {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.inputGroup input {
    width: 20rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: 0.5px solid #dee0e7;
    box-shadow: 10px 26px 56px rgba(34, 13, 68, 0.15);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.inputGroup button {
    padding: 0.7rem 1rem;
    background: #030f46;
    border-radius: 8px;
    width: 147px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inputGroup input::placeholder {
    color: #8c8c8c;
}

@media screen and (max-width: 1350px) {
    .introText {
        padding-left: 5rem;
    }
}

@media screen and (max-width: 1200px) {
    .introText {
        width: 70%;
    }

    .introImage {
        width: 30%;
    }

    .introImage :first-child {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 850px) {
    .intro {
        align-items: center;
        flex-direction: column-reverse;
    }

    .introImage {
        top: 20%;
    }

    .introImage :nth-child(2) {
        position: relative;
        width: 100%;
    }

    .introText {
        width: 98%;
        padding: 2rem;
    }

    .introText h2 {
        font-size: 44px;
        line-height: 3rem;
        font-weight: 800;
    }

    .inputGroup {
        width: 60%;
    }

    .inputGroup input {
        width: 73%;
    }
}

@media screen and (max-width: 650px) {
    .inputGroup {
        width: 100%;
    }

    .introText h2 {
        font-size: 40px;
    }

    .intro {
        height: 35rem;
    }
}

/*! --------------------------------------------------------------!
   |                                                              |
   |              classes related to the our stories              |
   |                                                              |
   !--------------------------------------------------------------!  */
.row {
    width: 100% !important;
    background-color: #ffffff;
    display: flex;
    padding: 12rem 2rem;
    justify-content: center;
    align-items: center;
}

.imgRow {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.textRow {
    width: 45%;
}

.textRow h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 44px;
    line-height: 121.5%;
}

.textRow p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #696868;
}

.col {
    width: 50%;
    padding: 0rem 4rem;
}

@media screen and (max-width: 1200px) {
    .imgRow {
        justify-content: flex-start;
    }

    .textRow {
        padding: 0rem 0.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .row {
        padding: 13rem 0.5rem;
    }

    .textRow {
        padding: 0rem 0.5rem;
    }
}

@media screen and (max-width: 850px) {
    .row {
        flex-direction: column;
        padding: 8rem 0.5rem;
    }

    .imgRow {
        width: 100%;
        justify-content: center;
    }

    .textRow {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .imgRow img {
        width: 80%;
    }

    .row {
        padding: 0.5rem 0.5rem;
    }

    .textRow {
        width: 100%;
    }

    .textRow p {
        font-size: 15px;
    }

    .textRow h2 {
        font-size: 32px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
    width: 100%;
}

.textRow h2 {
    font-size: 32px;
}


/*! --------------------------------------------------------------!
   |                                                              |
   |              classes related to the services                 |
   |                                                              |
   !--------------------------------------------------------------!  */

.services {
    padding: 5% 8%;
    margin: 0 auto;
}

.services span {
    display: flex;
    align-items: center;
}


.services span p,
.services span h2 {
    text-align: center;
    width: 60%;

}


.servicesItems h5 {
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #383939;
}

.servicesItems p {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}

.servicesItems {
    width: 45%;
    background: #FDFEFF;
    box-shadow: 4px 26px 56px rgba(34, 13, 68, 0.05);
    border-radius: 16px;
    min-width: 45%;
    margin: 2rem 1rem;
    padding: 2rem 2rem;
}

.servicesListWraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width : 850px) {
    .services center p {
        width: 90%;
    }

    .services {
        padding: 5% .5%;
        margin: 0 auto;
    }


}

@media screen and (max-width : 650px) {
    .servicesListWraper {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .services span h2 {
        font-size: 30px;

    }

    .services span {
        display: flex;
        align-items: center;
    }

    .services span p,
    .services span h2 {
        text-align: left;
        padding: 0rem 1rem;
        width: 100%;
    }




    .servicesItems {
        min-width: 300px;
    }

    .servicesListWraper::-webkit-scrollbar {
        display: none;
    }
}